# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/

# VS Code or PyCharm project settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Log and output files
*.log
*.out
*.png

# Pickled layout file
layout_positions.pkl

# Ignore data and output folders
2021 mapping graphs/
2022 mapping graphs/
2023 mapping graphs/
2024 mapping graphs/
GitHub repo/
Mapping BP to NSF BI/

# Ignore data files
*.csv
*.xlsx
